# Site settings
title: Project AruXI
description: Official documentation for the AruXI project
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://project-aruxi.github.io" # the base hostname & protocol for your site

# Build settings
markdown: kramdown
highlighter: rouge
theme: minima


# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor/
  - .bundle/
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/